# ignore .csv and .txt files
*.csv
*.txt

# ignore .log files
*.log
# ignore .env files
*.env

# ignore .zip, .tar.gz, and .rar files
*.zip
*.tar.gz
*.rar

# ignore Python TRR_model.py file
TRR_model.py